[submodule "zsh/zsh/ohmyzsh"]
	path = zsh/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/zsh/fzf"]
	path = zsh/zsh/fzf
	url = https://github.com/junegunn/fzf
[submodule "everything-claude-code"]
	path = everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code.git
